/**
 * @file ./styles/base/content/lists/index
 * List styles
 */



/* Organised list */
ol {
  padding-left: 1em;

  list-style: none;

  counter-reset: section;

  li:before {
    padding-right: 1em;

    counter-increment: section;
    content: counters(section, ".") " ";
  }
}



/* Unorganised list */
ul {
  li {
    padding-left: 0;
  }
}
