/*
 * @file ./styles/base/content/links/index
 * Link styles
 * [1] Normalize
 */



a {
  color: rgb(62, 191, 237);
  text-decoration: none;

  background-color: transparent; // [1] // consider using "background" instead

  &:hover,
  &:active {
    outline: 0;  // [1]
    text-decoration: underline;
  }
}
