h2,h4,h5,h6{line-height:1.25;font-weight:400}h1,h2,h3,h4,h5,h6{font-weight:400;margin:0;font-size-adjust:.5}h1{font-size:4.5em;line-height:1.1111111}h2{font-size:2em}h3{font-size:1.75em;line-height:1.3888888889}h4,h5,h6{font-size:1.5em}