/**
 * @file ./styles/base/sectioning/html
 * HTML normalize
 */



/* Global border box for better control */
* {
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: inherit;
  }
}



/* Disable vertical overflow */
html {
  overflow-x: hidden;
}
