/**
 * @file ./styles/theme/webfonts
 * Apply webfonts
 * NOTE: Google fonts is used here as an example
 */



/* Regular Open Sans style */
.openSans-processed {
  font-family: 'Open Sans', sans-serif;


  /* Italic Open Sans style */
  em {
    font-style: italic;
    font-weight: 400;
  }


  /* Bold Open Sans style */
  strong {
    font-weight: bold;
  }
}
