/*
 * @file ./styles/base/content/images/index
 * Image styles
 * [1] Normalize
 * [2] Boilerplate
 */



img {
  max-width: 100%;
  height: auto;

  vertical-align: middle; // [2]

  border: 0 // [1]
}



/* Hide image tags with undefined source */
img[src=""] {
  display: none;
}
