/**
 * @file ./styles/base/content/legend/index
 * Legend element styles
 * [1] Normalize
 */



legend {
  margin: 0; // [1]
  padding: 0; // [1]

  font-size-adjust: 0.5; // [1]

  border: 0; // [1]
}
