/**
 * @file ./styles/base/content/optgroup/index
 * Optgroup styles
 * [1] Normalize
 */



optgroup {
  margin: 0; // [1]

  color: inherit; // [1]
  font: inherit; // [1]
  font-weight: bold; // [1]
}
