/**
 * @file ./styles/base/content/hr/index
 * HR styles
 * [1] Normalize
 */



hr {
  display: block;
  height: 0; // [1]
  margin: 1em 0;
  padding: 0;

  border: 0; // [1]
  border-top: 0.0625em solid gray;

  box-sizing: content-box; // [1]
}
