/**
 * @file /styles/settings/placeholders
 * Placeholder styles
 * Note: change the variable names depending on your naming conventions
 */



 /**
  * Button placeholder
  * [1] Normalize
  */
 $button {
   display: inline-block;
   width: auto;
   margin: 0; // [1]
   padding: 0.625em 2em 0.6em;

   font: inherit; // [1]
   font-weight: bold;
   text-transform: none; // [1]
   text-decoration: none; // If applied to a anchor tag
   color: inherit; // [1]

   border: 0.0625em solid;
   border-radius: 0.125em;
   background: transparent;

   -webkit-appearance: none;
   user-select: none;
   cursor: pointer;
   outline: 0;

   &:hover {}
   &:foucs {}

   &[disabled] {
     cursor: default;
   }

   // Browser specifics
   &::-moz-focus-inner {
     padding: 0; // [1]
     border: 0; // [1]
   }
 }
