/**
 * @file ./styles/base/content/table/index
 * Table styles
 * [1] Normalize
 */



table {
  border-collapse: collapse; // [1]
  border-spacing: 0; // [1]
}

td,
th {
  margin: 0; // [1]
  padding: 0; // [1]

  font-size-adjust: 0.5; // [1]
}

caption {
  margin: 0; // [1]

  font-size-adjust: 0.5; // [1]
}
