/**
 * @file ./styles/base/type/paragraph
 * Paragraph styles
 * Also includes BOLD and ITALIC styles
 * [1] Normalize
 */

p {
  font-size: 1em;
}

strong {
  font-weight: bold; // [1]
}

em {
  font-style: italic; // [1]
}
