/**
 * @file ./styles/base/type/selection
 * Text selection styles
 * [1] Normalize
 */

::selection,
::-moz-selection {
  background: rgba(62, 191, 237, 9);
  text-shadow: none; // [1]

  color: white;
}
