/**
 * @file ./styles/base/type/sub.sup
 * Sub and sup styles
 * [1] Normalize
 */

sub,
sup {
  position: relative; // [1]

  font-size: 75%; // [1]
  line-height: 0; // [1]
  vertical-align: baseline; // [1]
}

sup {
  top: -0.5em; // [1]
}

sub {
  bottom: -0.25em; // [1]
}
