/**
 * @file /styles/settings/breakpoints
 * Base set of breakpoints and mixins to use.
 * Note: change the variable names depending on your naming conventions
 */



/**
 * Media Queries (feel free to extend)
 * Narrow range 0-768
 * Medium range 769-960
 * Wide   range 961+
 */

media_queries = {
  narrow      : "only screen and (min-width: 0em)",
  narrow-only : "only screen and (max-width: 48em)",
  medium      : "only screen and (min-width: 48.0625em)",
  medium-only : "only screen and (min-width: 48.0625em) and (max-width: 60em)",
  wide        : "only screen and (min-width: 60.0625em)"
}
